*, *::before, *::after {
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

body {
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    display: flex;
justify-content: center;
align-items: center;
}

img {
    width: 100%;
    object-fit: cover;
}

h1 {
    margin-top: 0;
}

.card {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    max-width: 35rem;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    background-color: #fff;
    color: hsl(228, 12%, 48%);
}

.card__content {
    padding: 2.4rem 3rem;
}

.card__product {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card__heading {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 3rem;
    margin-top: 1.7rem;
    line-height: 1;
    color: hsl(212, 21%, 14%);
}

.card__img--desktop {
    display: none;
}

.card__price {
    margin-top: 3rem;
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
}

.price--current {
    font-size: 3rem;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);;
}

.price--regular {
    text-decoration: line-through;
}

.btn {
    background-color: hsl(158, 36%, 37%);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    outline: 0;
    width: 100%;
    padding-block: 1.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer {
    position: absolute;
    bottom: 0;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
}

footer a {
    text-decoration: none;
    color: hsl(158, 36%, 37%);
}


@media screen and (min-width: 60rem) {
    .card {
        flex-direction: row;
        max-width: 600px;
        height: 45rem;
    }

    .card__img {
        width: 100%;
    }

    .card__content {
        width: 100%;
    }

    .card__img--desktop {
        display: block;
    }

    .card__img--mobile {
        display: none;
    }

    .btn {
        width: 100%;
    }
}