*, *::before, *::after {
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

img {
    object-fit: cover;
}

h1 {
    margin-top: 0;
}

.card {
    background-color: #fff;
    border-radius: 15px;
    color: hsl(228, 12%, 48%);
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    margin: auto;
    width: 90%;
    max-width: 35rem;
    overflow: hidden;
}

.card__content {
    padding: 2.4rem 3rem;
}

.card__product {
    letter-spacing: 5px;
    text-transform: uppercase;
}

.card__heading {
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 1.7rem;
}

.card__img--desktop {
    display: none;
}

.card__price {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.price--current {
    color: hsl(158, 36%, 37%);
    font-size: 3rem;
    font-family: 'Fraunces', serif;
}

.price--regular {
    text-decoration: line-through;
}

.btn {
    align-items: center;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    border: 0;
    color: #fff;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    gap: 1rem;
    justify-content: center;
    outline: 0;
    padding-block: 1.5rem;
    width: 100%;
}

footer {
    bottom: 0;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    background-color: white;
    width: 100%;
    text-align: center;
    padding-block: 0.5rem;
}

footer a {
    color: hsl(158, 36%, 37%);
    text-decoration: none;
}


@media screen and (min-width: 60rem) {
    .card {
        flex-direction: row;
        height: 45rem;
        max-width: 600px;
    }

    .card__img {
        width: 50%;
    }

    .card__content {
        width: 50%;
    }

    .card__img--desktop {
        display: block;
    }

    .card__img--mobile {
        display: none;
    }

    .btn {
        width: 100%;
    }
}